body
{
    color: #ede4e0;
}
.card{
    width: 100%;
    background-color:#9f8772;
}


.code{
    width: 100%;
    background-color:#ede4e0;
    height: 100px;
    color: #9f8772;
    padding: 50px;
}
#accordion 
{
    color: #ede4e0;
    font-family: cursive;
}
#accordion button{
   
width: 100%;
height: 40px;
text-align: left;
background-color: #ede4e0;
color: #9f8772;
}
.image1
{
    width: 100%;
    height: 100vh;
    background-image: url("ring-with-fabric.jpg");
background-attachment: fixed;
background-repeat: none;
background-size: 100%;}

 
.image2
{
    width: 100%;
    background-image: url("leaves-near-hot-drink-plaid-bedsheet.jpg");
    height:50vh;
    background-attachment: fixed;
background-repeat: none;
background-size: 100%;

}

   
     .card:hover{
background-color:#ede4e053;
    }
   
    
    footer{
        width: 100%;
        height: 400px;
        background-color:#ede4e0;
        color:#9f8772;
    }
    body a{
        color:#9f8772 ; 
        
    }
   
